:root {
    --fs-large:1.25rem;
    --fs-medium:0.938rem;
    --fs-small:0.625rem;
}
body {
    background-color: antiquewhite;
}

p{
    color:rgb(96, 24, 24);
    font-size:calc(2 * var(--fs-large));
    text-align: center;
}

.container-calculator {
    width:200px;
    height:300px;
    background-color:brown;
    margin:auto;
    padding:var(--fs-large);
}

#display {
    width:200px;
    height:calc(2 * var(--fs-large));
    margin-bottom:var(--fs-small);
}

.arithmetic-operators input {
    padding:var(--fs-medium);
    margin-bottom:var(--fs-small);
    margin-right: 5px; 
}

input[type="button"] {
    color:brown;
    font-size: var(--fs-medium);
    font-weight: 700;
}

.numbers-equal {
    display:flex;
}

.numbers input {
    padding:var(--fs-small);
    margin-bottom:calc(var(--fs-medium) - var(--fs-small));
    width:calc(2 * var(--fs-large));
}

#equal {
    width:150px;
    height:170px;
    margin-left:var(--fs-small);
}

#clear {
    background-color:rgb(201, 106, 106);
}